@import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap);

html, body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1;
}
body {
    background-color: black;
    width: 100%;
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1230px;
}

.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 170px;
}

.nav {
    display: flex;
    align-items: baseline;
}

ul {
    list-style: none;
    padding: 0;
}
.flex{
    display: flex;
    margin: 40px;
}

li {
    margin: auto 0 20px;
    text-decoration: none;
}

.buttons {
    display: flex;
}

.button {
    font-family: inherit;
    font-size: 18px;
    padding: 0;
    border: none;
    background: none;
    color: white;
    margin-right: 60px;
}

.buttonwhite {
    font-family: inherit;
    font-size: 18px;
    border-radius: 7px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
  
.link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.mainphoto {
    width: 100%;
}

.courses {
    font-family: PTSerif;
    color: #fff;
    font-size: 63px;
    line-height: 1;
    background: black;
    max-width: 1230px;
    margin: 105px auto;
    position: relative;
    }

.courseleft{
    margin-top: 105px;
}

.courseright{
    text-align: right;
    margin-top: 105px;
    position: relative;
}

.nameleft {
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 40px;
    margin-left: calc(25% + 15px);
  }
.nameright {
    font-weight: bold;
    margin-right: 25%;
    position: absolute;
    top: 10%;
    margin-left: 20%;
}
.numberleft{
    font-size: 33px;
    margin-left: calc(40% + 45px);
    position: absolute;
    top: 25%;
}
.numberright{
    font-size: 33px;
    position: absolute;
    margin-left: 45%;
    top: 50%;
}
h1{
    color: white;
    font-size: 63px;
    font-family: PTSerif;
    text-align: center;
}
h5{
    color: white;
    text-align: center;
}
.lotus{
    text-align: center;

}

h4{
    color: white;
}
iframe 
{
 border: none;
 width: 100%; 
 height: 90vh;
} 
footer{
    height: 340px;
}
.logoend{
    opacity: 0.5;
    top: 0;
    left: 0;
    margin-left: 0;
    flex-basis: 25%;
    margin-right: 8%;
}

.bottom{
    max-width: 1170px;
    margin:auto
}
.row{
	display: flex;
	flex-wrap: wrap;
}

.footer-col h4{
	font-size: 16px;
	font-weight: bold;
	position: relative;
}

.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	opacity: 0.5;
}
.footer-col{
    margin-top: 50px;
}
.social{
    flex-basis: 16%;
}
.articles, .other{
    flex-basis: 25%;
}
span{
    color: white;
    font-family: PTSerif;
    font-size: 16px;
    margin-left: 16px;
    position: absolute;
    top: 23px;
}
.cookie{
    background: blue;
    height: 62px;
    position: fixed;
    width: 100%;
    bottom: 0;

}
.buttonwhitedown {
    font-family: inherit;
    font-size: 18px;
    border-radius: 5px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    position: absolute;
    right: 16px;
    top: 12px;
}

.major {
    display: flex; 
}
.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.background-img {
    position: absolute;
    background: linear-gradient(to bottom right, transparent, black), url('./images/ulapa.jpg') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: cover;
   }
.course { 
    width: 390px;
    position: absolute;
    right: 210px;
    top: 42px;
    color: #fff;
    font-family: PTSerif;
}
.top-information {
    display: flex;
    justify-content: space-between;
}
.custom-style {
    height: 80px;
} 
.item {
    display: flex;
    margin-bottom: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 80px;
    font-family: PT Sans;
    transition: all .2s ease-in-out; 
}
.text {
    margin-left: 105px;
    width: 600px;
    color: #fff;
    font-family: PT Sans;
    font-size: 18px;
    line-height: 1.67;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.items {
    padding-top: 100px;
}

.item-info {
    padding: 5px 10px 5px;
    font-size: 14px;
    flex-basis: 100%;
}
.first-line {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.script-line {
    font-size: 12px;
    margin-top: 3px;
}

.timeline {
    height: 3px;
    background: gray;
    margin-top: 3px;
}

.inner-timeline {
    height: 100%;
    width: 40%;
    background: blue;
}

.logo {
    margin-top: 33px;
}

.description {
    margin-bottom: 53px;
}

.header-description {
    color: white;
    font-size: 33px;
    font-family: PT Serif;
    font-weight: bold;
}

.item:hover {
    transform: scale(1.2);
    background-color: rgba(253, 253, 253, 0.685); 
    color: black;
      
}